body {
	background-color: #FFC0CB
}
.K
{
	position:absolute;  
	top: 100px;  
	left:700px;  
	height:500px;  
	width:500px;  
	background-color:#FF69B4
}
.home1 {
  position: absolute;
  width: 6%;
  height: 5%;
  left: 10px;
  bottom: 600px;
  color: #000000;
  background-color: #000000: 
}